@import '../../../node_modules/normalize.css/normalize.css';

html {
  background-color: #11CC77;
  height: 100%;
  color: #4E4C4C;
}
h1,h2 {
  font-family: "Anton"
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.container {
  max-width: 80em;
  margin: 0 auto;
}
.container p span strong { color: white; }
.outline { border: 4px solid white; }
.center { text-align: center; margin-top: 2em; }
